# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
genv/

# Environment variables
.env

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Mac/Linux
.DS_Store

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# FAISS vector store
faiss_index/

# Chroma DB
chroma/

# Uploaded PDFs / data
data/
uploads/

# Temporary files
tmp/
temp/